.cardContainer{
    width:fit-content;
    height: fit-content;
    display:grid;
    grid-template-rows: auto auto;
    place-items: center;
    color:gold;
}
.cardImg{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cardName{
    font-size: x-large;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.displayInfo{
    width:15rem;
    height: fit-content;
    background-position: center;
    background-size: contain;
}