.mainMainDiv{
    position: absolute;
    width:100vw;
    height: 100vh;
    z-index: -1;

}
.characterBackground{
    z-index: -1;
    background-position: center;
    background-size: contain;
    width:100%;
    height: 100%;
    position: fixed;
}
.charactersMainDiv{
    /* backdrop-filter: blur(5px); */
    width:100vw;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.483); */
    position: absolute;
     padding-bottom: 10rem; 

}
.characterCard{
    width: fit-content;
    height: fit-content;
    /* border:solid 2px gold; */
    padding: 1rem;
    padding-bottom: 0px;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.285); 
}
.acceptDecline{
    display: flex;
    column-gap: 6rem;
}
.characterInfo{
    width:100%;
    height:100%;
    display: grid;
    place-items: center;
    position: absolute;
    backdrop-filter: blur(5px);
    top:5rem;
    padding-bottom: 5rem;
    background-color: rgba(0, 0, 0, 0.816);
}
.accept{
    border:2px solid limegreen;
    background-color: transparent;
    color : limegreen;
    padding:0.5rem;
        display: inline;
    
}

.decline{
    border:2px solid red;
    color:red;
    background-color: transparent;
    padding:0.5rem;
    display: inline;
    
}
hr{
    width: 100%;
   border-color: rgb(234, 205, 15);
}
.characterSearchDiv{
    width:100%;
    height: fit-content;
    z-index: 0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
h1{
    color: gold;
    text-shadow: 5px 5px 10px rgb(0, 0, 0);
    margin-top: 4rem;
}
.cInfo{
    padding-inline: 4rem;
    display: grid;
    place-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gold;
    font-size: large;
}
.cInfo>p>span{
    color: #c5a181;
    font-weight: 600;
    font-size: x-large;
   
}

.cInfo>p{
    margin-block: 1rem;
    line-height: 2rem;
}