body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
.nav{
    width:100vw;
    position: sticky;
    height: 4rem;
    background-color: rgba(0, 0, 0, 0.811);
    border: 3px solid goldenrod;
    border-inline: 0px;
    border-top: 0px;
    display: none;
}
