body{
    margin:0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height: fit-content;
    
    
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  

  ::-webkit-scrollbar-track {
    background:#26231f;
  }
  

  ::-webkit-scrollbar-thumb {
    background:#e8ac6d;
    border-radius: 6px;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: gold;
  }
  
.nav{
    width:100%;
    position: absolute;
    height: 4rem;
    opacity: 1;
    visibility: visible;
    display: block;
    transition:visibl 0.5s, opacity 0.5s;
    z-index: 3;
    display:flex;
    justify-content: flex-end;    
    pointer-events: none;
    align-items: center;
}
.nav *{
    pointer-events: all;
}
.userLogin>button:active{
    border-color:transparent;
}
.userLogin>button{
    height:100%;
    width:fit-content;
    margin-right: 20px;
    color: gold;
    border:2px solid gold;
    background-color: transparent;
}
.userLogin{
    margin-left: auto;
}
.user{
    color: #7b7032;
    font-size: x-large;
    height: fit-content;
    margin-right: 20px;
    
}

@media (max-width:1085px){
    body,.MainDiv,.backgroundImg1,.nav,.mainMainDiv,.characterBackground,.siContainerC,.updateFContainer,.notiContainer{
        width: 1085px !important;
    }

}
.user:hover{
    cursor:default;
}
.edit{
    color: gold;
    height: fit-content;
    background: none;
    font-size: x-large;
    border: 2px solid gold;
    font-family:Georgia, 'Times New Roman', Times, serif  ;
    margin-right: 1rem;
}
.admin{
    display: flex;
    
}
.search{
    position:absolute;
    margin-top: 5px;
    top:10px;
    z-index: 5;
}
.search>input[type="text"]{
    border-radius: 30px;
    width: 15rem;
    height: 30px;
    position: relative;
    border:0;
    background-color: rgba(25, 24, 24, 0.849);
    border:2px #c5a181 solid;
    transition: 0.5s;
    color:white;
    padding-left: 20px;
    z-index: 5;
}

.search>input[type="text"]:focus{
    border:2px gold solid;
    width: 25rem;
    transition:0.5s;
    outline: none;
}
.logo{
      width: 100px;
    height:auto;  
    
}
.logoL{
    position: fixed;
    z-index: 2;
    margin-top: 5px;
    width:fit-content;
    height:auto;
}
.nav>button{
    margin-left: auto;
}

.userLogin{
    width:fit-content;
    height:50%;
    display:flex;
    justify-content: center;
    flex-grow: 0;
    align-items: center;
}
.userLogin p{
    margin:0;
    font-size: small;
    padding-inline:3px;
    color:gold
}
.menu{
    width:3%;
    height:50%;
    display:grid;
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    margin-left: 50px;
}
.menu .line1,
.menu .line2,
.menu .line3{
    height:3px;
    background-color:gold;
    border-radius: 0%;
    border:none;
}
.menu .line1{
    width: 98%;
}
.menu .line2{
    width: 67%;
}
.menu .line3{
    width: 34%;
}

