
.MainDiv{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}
.MainDiv .backgroundImg1{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.characterCardsHold{
width: 100vw;
height: fit-content;
background: rgb(24, 24, 24);
display:flex;
justify-content: center;
align-items: center;
z-index: -1;
}
.backgroundImg2{
    opacity: 0.1;
    width: 100%;
    height: fit-content;
}
.search{
    position:absolute;
    margin-top: 10px;
}
.search>form>input{
    border-radius: 30px;
    width: 25rem;
    height: 24px;
    border:0;
}