.MainDiv{
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white
}
.MainDiv .backgroundImg{
    z-index: -1;
    width: 100vw;
    height: 100vh;
    position: absolute;
}