.sidebar{
    position: fixed;
    width: 15rem;
    height: 100vh;
    background-color: #000000fe;
    border-left: 2px solid gold;
    right: 0rem;
    transform: translate(100%);
    z-index: 3;
    transition: 0.5s;
}
.sidebarContent{
    width: 100%;
    height: fit-content;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
}
.sidebar.active{
    transform: translate(0%);
}

.close{
    position: absolute;
    top: 1rem;
    left: 1rem;
    cursor: pointer;
    border: none;
    padding-left: 0%;
    background: transparent;
}
.uil-multiply:before{
    color: gold;
    transform: scale(1.5);
    margin-left: 0px !important;
}
.sidebaruser{
    color: gold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid gold;
}
.sidebaruser>p{
    width: fit-content;
    margin:0px;
}

.sidebaruser>p>span{
    font-size: x-large;
}
.sidebarbtn{
    border: none;
    background: transparent;
    color: gold;
    cursor: pointer;
    width: fit-content;
    border-bottom: 2px solid rgba(255, 217, 0, 0.362);
    font-family:Georgia, 'Times New Roman', Times, serif  ;
    font-size: x-large;
    padding-inline: 1rem;
}
.sidebaredit{
    margin-top : 7rem;
}
.sidebarnoti{
    margin-top:2rem;
}
.sidebarlogout{
    position: fixed;
    bottom:50px;

}