.updateFContainer{
    width:100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.uForm{
    width: 50%;
    height: fit-content;
    display:grid;
    grid-template-rows: auto;
    backdrop-filter: blur(80px);
}
.uForm>label{
    color: rgb(135, 118, 21);
}
.uForm>select>option{
    background-color:#1b2023;
}

.uForm>button{
    color:gold
}
select{
    background-color: rgba(0, 0, 0, 0.251);
    color:gold;
    margin-bottom: 1rem;
}
textarea{
    height: 5rem;
    background-color: rgba(255, 217, 0, 0.132);
}
.uForm>input{
    background-color: rgba(255, 217, 0, 0.132);
    margin-bottom: 1rem;
}
.uForm>button{
    margin-block: 1rem;
    width: 4rem;
    height: 2rem;
    place-self: center;
    border-color:gold;
    background: rgba(255, 217, 0, 0.132);
} 